* {
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: my;
    src:url(Fact-BlackItalic.ttf);
}
body {
	background-image: url(back.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mama {
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
}
.name {
	width: 400px;
	padding: 5px 25px;
	font-size: 50px;
	font-family: my;
	background: rgba(255,255,255,1.00);
}
.offer {
	width: 580px;
	margin-top: 70px;
	font-size: 38px;
	color: white;
	font-family: my;
}
.little {
	font-size: 25px;
}
.form {
	position: absolute;
	top: 155px;
	right: 0px;
	width: 470px;
	height: 545px;
	background: rgba(255,255,255,1.00);
	text-align: center;
}
.inst {
	position: absolute;
	top: 20px;
	right: 140px;
	font-family: my;
	font-size: 27px;
	color: white;
}
a {
	text-decoration: none;
	color: white;
}
.insert {
	font-size: 25px;
	margin: 40px 0px 5px 0px;
	padding: 8px 18px;
	font-family: my;
}
input::placeholder {
	color: rgba(30,30,30,1.00);
}
button {
	margin-top: 40px;
	font-family: my;
	font-size: 27px;
	color: white;
	background-color: black;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
}
.footer {
	text-align: center;
	margin: 75px 0px;
	color: white;
	font-family: my;
	font-size: 15px;
}
.down {
	margin-bottom: -8px;
}
@media (max-width: 1300px) {
	.mama {
		top: 25px;
	}
	.offer {
		font-size: 30px;
	}
	.insert, button {
		font-size: 20px;
		margin-top: 27px;
	}
	.form {
		width: 415px;
		height: 430px;
	}
	.inst {
		right: 120px;
		font-size: 25px;
	}
}
@media (max-width: 1100px) {
	.offer {
		font-size: 26px;
	}
	.insert, button {
		font-size: 18px;
		margin-top: 22px;
	}
	.form {
		width: 370px;
		height: 385px;
		top: 140px;
	}
	.inst {
		right: 110px;
		font-size: 22px;
	}
	.name {
		font-size: 40px;
		width: 330px;
	}
}
@media (max-width: 900px) {
	.offer {
		font-size: 20px;
		margin-top: 40px;
	}
	.insert, button {
		font-size: 16px;
		margin-top: 20px;
	}
	.insert {
		width: 190px;
		padding: 5px 15px;
	}
	button {
		margin-top: 10px;
		padding: 5px 15px;
	}
	.form {
		width: 270px;
		height: 295px;
		top: 110px;
	}
	.inst {
		right: 60px;
		font-size: 18px;
	}
	.name {
		font-size: 40px;
		width: 330px;
	}
}
@media (max-width: 700px) {
	
	body {
		background-image: url(mobile.png)
	}
	.offer {
		width: inherit;
		padding: 40px 0px;
		font-size: 18px;
		margin-top: 20px;
	}
	.insert, button {
		font-size: 15px;
		margin-top: 18px;
	}
	.insert {
		width: 180px;
		padding: 5px 5px;
	}
	button {
		margin-top: 15px;
		padding: 5px 15px;
	}
	.form {
		position: static;
		margin: auto;
		width: 250px;
		height: 310px;
	}
	.inst {
		top: 45px;
		right: 0px;
		font-size: 18px;
	}
	.name {
		font-size: 25px;
		width: 210px;
	}
	.footer {
		margin: 40px 0px 0px 0px;
		padding-bottom: 10px;
	}
}